# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
# node
/node_modules

# Yarn PnP (seguro dejarlo aunque uses npm)
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Next.js
/.next/
/out/

# Producción
/build

# IDEs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Certificados o claves
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# Variables de entorno
.env*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
